.navbar-container {
  background-color: $navbar-color;
  width: 100vw;
  height: 7rem;
  box-shadow: 0px 1px 5px -1px $shadow-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
}
